					<label id="view-region-selector" class="selected">
						<select name="type">
							<option value="" selected="">Please make a selection.</option>
							<option value="{{ route('console.index', [ 'switch' ]) }}">Switch Communities</option>
							<option value="{{ route('console.index', [ '3ds' ]) }}">3DS Communities</option>
							<option value="{{ route('console.index', [ 'wiiu' ]) }}">Wii U Communities</option>
							<option value="{{ route('console.index', [ 'wii' ]) }}">Wii Communities</option>
							<option value="{{ route('console.index', [ 'ds' ]) }}">DS Communities</option>
						</select>
					</label>