{% macro standard_post(post, external) %}
    {% if external|default(false) %}
        {% set id, title_id, post_id = hashid(post.community_id), hashid(post.title_id), hashid(post.post_id) %}
    {% else %}
        {% set post_id = hashid(post.post_id) %}
    {% endif %}
    {% set feeling = ['normal', 'happy', 'like', 'surprised', 'frustrated', 'puzzled'] %}
    <div id="post-{{ post_id }}" {% if post.spoiler %}data-href-hidden="{{ route('post.show', [ post_id ]) }}"{% endif %} class="post scroll post-subtype-default {% if post.spoiler %}hidden{% endif %} {% if post.verified %}official-user{% endif %}" data-href="{{ route('post.show', [ post_id ]) }}">
        {% if post.has_community %}
            <p class="community-container">
                <a href="{{ route('title.community', [ title_id, id ]) }}" class="test-post-target-href" data-pjax="1">
                    <span class="community-container-inner">
                        <img src="/img/icons/{{ post.community_icon }}" class="community-icon" width="14" height="14">{{ post.community_name }}
                    </span>
                </a>
            </p>
        {% endif %}
        <div class="body">
            <a href="{{ route('user.profile', [ post.op.username ]) }}" data-pjax="1" class="user-icon-container scroll-focus {% if post.verified %}official-user{% endif %}">
                <img src="{{ post.op.mii[feeling[post.feeling]] }}" class="user-icon" width="32" height="32">
            </a>
            <div class="post-container">
                <div class="user-container">
                    <p class="user-name"><a href="{{ route('user.profile', [ post.op.username ]) }}" data-pjax="1">{{ post.op.displayName }}</a></p>
                    <p class="timestamp-container">
                        <span class="timestamp">{{ post.created }}</span>
                        {% if post.spoiler %}
                            ·
                            <span class="spoiler">{{ __('post.status.spoiler') }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="post-content">
                    {% if post.content != '' %}
                        <p class="post-content-text">
                            <a href="{{ route('post.show', [ post_id ]) }}" class="to-permalink-button" data-pjax="1" tabindex="0">{{ post.content }}</a>
                        </p>
                    {% endif %}
                    {% if post.image %}
                        <p class="post-content-memo">
                            <a href="{{ route('post.show', [ post_id ]) }}" class="to-permalink-button" data-pjax="1" tabindex="0">
                                <img src="/img/drawings/{{ post.image }}">
                            </a>
                        </p>
                    {% endif %}
                    {% if post.spoiler %}
                        <div class="hidden-content"><p>{{ __('post.content.spoiler.desc') }}</p>
                            <button type="button" class="hidden-content-button">{{ __('post.content.spoiler.button') }}</button>
                        </div>
                    {% endif %}
                </div>
                <div class="post-meta">
                    <button type="button" {% if post.can_yeah == false %}disabled{% endif %} class="symbol submit empathy-button {% if post.can_yeah == false %}disabled{% endif %} {% if post.liked %} empathy-added{% endif %}" data-feeling="{{ feeling[post.feeling] }}" data-action="{{ route('post.empathies', [ post_id ]) }}">
                        <span class="empathy-button-text">{% if post.liked %}{{ __('post.feelings.remove') }}{% else %}{{ __('post.feelings.' ~ feeling[post.feeling]) }}{% endif %}</span>
                    </button>
                    <span class="empathy symbol">
                        <span class="symbol-label">{{ __('post.meta.empathies') }}</span>
                        <span class="empathy-count">{{ post.empathies }}</span>
                    </span>
                    <a href="{{ route('post.show', [ post_id ]) }}" data-pjax="1" tabindex="0">
                        <span class="reply symbol">
                            <span class="symbol-label">{{ __('post.meta.comments') }}</span>
                            <span class="reply-count">{{ post.comments }}</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
