{% set class = 'community-top platform-' ~ console.id %}
{% extends '@ctr/_master.twig' %}

{% block content %}
			<div class="title-header text-header">
				<div class="header-banner-container">
					<div class="header-banner">
						<p>{{ __('community.index.header.desc') }}</p>
					</div>
				</div>
				<h1 class="info-content">
					<span class="icon-container"></span>
					<span class="title-container">
						<span class="title">{{ __('community.index.header.title') }}</span>
					</span>
				</h1>
			</div>
			<div class="community-top-top-container">
				<span class="top-left-button title-search-button">
					<span class="symbol">{{ __('community.index.search.name') }}</span>
					<input data-action="/titles/search" name="query" class="title-search-title-id" minlength="2" maxlength="20" type="text" monospace="on" guide="{{ __('community.index.search.desc') }}" cave_oninput="$(document.activeElement).trigger('input')" value="">
				</span>
				<a href="/communities/favorites" class="favorites-button top-right-button" data-pjax="1">
					<span class="symbol">{{ __('community.index.favorites') }}</span>
				</a>
			</div>
			<div class="body-content" id="community-top" data-region="USA">
				<div class="news-label-content">
				</div>
				<div class="community-list">
					<div class="headline with-filter headline-{{ console.id }}">
						<h2>{{ __('community.index.communities.new') }}</h2>
						<div class="with-filter-right">
							<div class="select-button">
								<label id="community-filter" class="">
									<span class="select-button-content">{{ __('community.index.communities.filter.name') }}</span>
									<select name="filter">
										<option value="" selected="">{{ __('community.index.communities.filter.select') }}</option>
										<option value="{{ route('console.all', [ console.id ]) }}">{{ __('community.index.communities.filter.options.all') }}</option>
										<option value="{{ route('console.games', [ console.id ]) }}">{{ __('community.index.communities.filter.options.games', { console: console.name }) }}</option>
										<option value="{{ route('console.vc', [ console.id ]) }}">{{ __('community.index.communities.filter.options.vc') }}</option>
										<option value="{{ route('console.other', [ console.id ]) }}">{{ __('community.index.communities.filter.options.other') }}</option>
									</select>
								</label>
							</div>
						</div>
					</div>
					{% if communities.newest is not empty %}
						<ul class="list-content-with-icon-and-text arrow-list" id="community-top-content">
							{% for community in communities.newest.titles %}
								{% set id,title_id = hashid(community.id), hashid(community.title_id) %}
								<li id="community-{{ id }}" class="">
									<span class="icon-container">
										<img src="/img/icons/{{ community.icon }}" class="icon" width="48" height="48">
									</span>
									<a href="{{ route('title.community', [ title_id, id ]) }}" class="arrow-button scroll" data-pjax="1"></a>
									<div class="body">
										<span class="community-name title">{{ community.name }}</span>
									{% if community.platform == 1 %}
										<span class="platform-tag platform-tag-3ds"></span>
										<span class="text">{{ __('community.index.communities.platforms.3ds') }}</span>
									{% elseif community.platform == 2 %}
										<span class="platform-tag platform-tag-wiiu"></span>
										<span class="text">{{ __('community.index.communities.platforms.wiiu') }}</span>
									{% elseif community.platform == 3 %}
										<span class="platform-tag platform-tag-wiiu-3ds"></span>
										<span class="text">{{ __('community.index.communities.platforms.wiiu-3ds') }}</span>
									{% elseif community.platform == 4 %}
										<span class="platform-tag platform-tag-switch"></span>
										<span class="text">{{ __('community.index.communities.platforms.switch') }}</span>
									{% elseif community.platform == 5 %}
										<span class="platform-tag platform-tag-switch-wiiu"></span>
										<span class="text">{{ __('community.index.communities.platforms.switch-wiiu') }}</span>
									{% elseif community.platform == 6 %}
										<span class="platform-tag platform-tag-wii"></span>
										<span class="text">{{ __('community.index.communities.platforms.wii') }}</span>
									{% elseif community.platform == 7 %}
										<span class="platform-tag platform-tag-ds"></span>
										<span class="text">{{ __('community.index.communities.platforms.ds') }}</span>
									{% elseif community.platform == 8 %}
										<span class="platform-tag platform-tag-wii-ds"></span>
										<span class="text">{{ __('community.index.communities.platforms.wii-ds') }}</span>
									{% endif %}
									</div>
								</li>
							{% endfor %}
							</ul>
					{% else %}
						<div class="no-content-window">
							<div class="window">
								<p>{{ __('community.index.communities.empty') }}</p>
							</div>
						</div>
					{% endif %}
					{% if communities.newest.more %}
						<a href="{{ route('console.all', [ console.id ]) }}" class="more-button scroll" data-pjax="1">{{ __('community.index.communities.more') }}</a>
					{% endif %}
					<h2 class="headline headline-special">{{ __('community.index.communities.special') }}</h2>
					{% if communities.special is not empty %}
						<ul class="list-content-with-icon-and-text arrow-list" id="community-top-content">
							{% for community in communities.special.titles %}
								{% set id,title_id = hashid(community.id), hashid(community.title_id) %}
								<li id="community-{{ id }}" class="">
									<span class="icon-container">
										<img src="/img/icons/{{ community.icon }}" class="icon" width="48" height="48">
									</span>
									<a href="{{ route('title.community', [ title_id, id ]) }}" class="arrow-button scroll" data-pjax="1"></a>
									<div class="body">
										<span class="community-name title">{{ community.name }}</span>
									{% if community.platform == 1 %}
										<span class="platform-tag platform-tag-3ds"></span>
									{% elseif community.platform == 2 %}
										<span class="platform-tag platform-tag-wiiu"></span>
									{% elseif community.platform == 3 %}
										<span class="platform-tag platform-tag-wiiu-3ds"></span>
									{% elseif community.platform == 4 %}
										<span class="platform-tag platform-tag-switch"></span>
									{% elseif community.platform == 5 %}
										<span class="platform-tag platform-tag-switch-wiiu"></span>
									{% elseif community.platform == 6 %}
										<span class="platform-tag platform-tag-wii"></span>
									{% elseif community.platform == 7 %}
										<span class="platform-tag platform-tag-ds"></span>
									{% elseif community.platform == 8 %}
										<span class="platform-tag platform-tag-wii-ds"></span>
									{% endif %}
										<span class="text">{{ __('community.index.communities.platform.special') }}</span>
									</div>
								</li>
							{% endfor %}
							</ul>
					{% else %}
						<div class="no-content-window">
							<div class="window">
								<p>{{ __('community.index.communities.empty') }}</p>
							</div>
						</div>
					{% endif %}
					{% if communities.special.more %}
						<a href="{{ route('console.all', [ 'special' ]) }}" class="more-button scroll" data-pjax="1">{{ __('community.index.communities.more') }}</a>
					{% endif %}
				</div>
			</div>
			<div class="community-list-footer">
				<div class="select-button">
					<span class="select-button-content">{{ __('community.index.footer.console', { console: console.name }) }}</span>
					{% include '_footer.twig' %}
				</div>
			</div>
{% endblock %}
