{% set class = 'community-post-list' %}
{% extends '@3ds/_master.twig' %}
{% from '@3ds/_macros.twig' import standard_post %}

{% block content %}
{% set id,title_id = hashid(meta.id), hashid(meta.LocalTitleId(true)) %}
			<div class="title-header{% if meta.banner is not empty %} with-header-banner{% endif %}">
				{% if meta.banner is not empty %}
					<div class="header-banner-container post-subtype-default-container">
						<img src="{{ meta.banner }}" height="168" width="400">
					</div>
				{% endif %}
				<h1 class="info-content">
					<span class="icon-container"><img src="{{ meta.icon }}" class="icon" width="48" height="48"></span>
					<span class="title-container">
						<span class="title">{{ meta.name }}</span>
					</span>
				</h1>
				{% if meta.PlatformTag is not empty %}
					<span class="platform-tag platform-{{ meta.PlatformTag }}"></span>
				{% endif %}
			</div>
			<div id="header-meta" class="header-meta-with-description">
				<a href="#" class="favorite-button symbol button top-right-button {% if is_favorited %}checked{% endif %}" data-action-favorite="{{ route('title.favorite', [ title_id, id ]) }}" data-action-unfavorite="{{ route('title.unfavorite', [ title_id, id ]) }}"></a>
				<a href="#" class="button symbol setting-button" data-sound="SE_OLV_OK_SUB" data-pjax="1"></a>
			</div>
			{% if meta.description is not empty %}
				<div class="community-info">
					<p class="text">{{ meta.description }}</p>
				</div>
			{% endif %}
			<div class="tab2">
				<a id="tab-header-post" href="{{ route('title.community', [ title_id, id ]) }}" data-pjax="1" class="selected"><span class="symbol new-posts">{{ __('community.view.kind.new') }}</span></a>
				<a id="tab-header-hot-post" href="{{ route('title.hotposts', [ title_id, id ]) }}" class="symbol" data-pjax="1"><span class="name">{{ __('community.view.kind.hot') }}</span></a>
			</div>
			<div class="body-content tab3-content">
				<div id="list-content" class="post-list main-content">
					<div class="tab-body">
						<div class="post-buttons-content with-memo-button">
							<a href="{{ route('title.post', [ title_id, id ]) }}" class="post-button js-post-button" data-pjax="1"><span class="symbol">{{ __('community.view.actions.post') }}</span></a>
							<a href="{{ route('title.postmemo', [ title_id, id ]) }}" class="memo-button" data-pjax="1"><span class="symbol">{{ __('community.view.actions.memo') }}</span></a>
						</div>
						<div class="post-list list" data-olv-community-id="{{ id }}">
							{% for post in posts %}
								{{ standard_post(post, false) }}
							{% endfor %}
						</div>
					</div>
					<p>
						<a href="{{ route('title.community', [ title_id, id ]) }}?page_param={{ page_params|e('url') }}" data-pjax="1" class="more-button scroll">{{ __('community.view.actions.next') }}</a>
					</p>
				</div>
			</div>
{% endblock %}
