{% set class = 'community-top platform-' ~ console.id %}
{% extends '@3ds/_master.twig' %}

{% block content %}
			<div class="title-header text-header">
				<div class="header-banner-container">
					<div class="header-banner">
						<p>{{ __('community.index.header.desc') }}</p>
					</div>
				</div>
				<h1 class="info-content">
					<span class="icon-container"></span>
					<span class="title-container">
						<span class="title">{{ __('community.index.header.title') }}</span>
					</span>
				</h1>
			</div>
			<div class="community-top-top-container">
				<span class="top-left-button title-search-button">
					<span class="symbol">{{ __('community.index.search.name') }}</span>
					<input data-action="{{ route('title.search') }}" name="query" class="title-search-title-id" minlength="2" maxlength="20" type="text" monospace="on" guide="{{ __('community.index.search.desc') }}" cave_oninput="$(document.activeElement).trigger('input')" value="">
				</span>
				<a href="{{ route('community.favorites') }}" class="favorites-button top-right-button" data-pjax="1">
					<span class="symbol">{{ __('community.index.favorites') }}</span>
				</a>
			</div>
			<div class="body-content" id="community-top" data-region="USA">
				<div class="news-label-content">
				</div>
				<div class="community-list">
					{% for category in categories %}
						<div class="headline {% if category.has_filter %} with-filter{% endif %} {{ category.class }}">
							<h2>{{ category.name }}</h2>
							{% if category.has_filter %}
							<div class="with-filter-right">
								<div class="select-button">
									<label id="community-filter" class="">
										<span class="select-button-content">{{ __('community.index.communities.filter.name') }}</span>
										<select name="filter">
											<option value="" selected="">{{ __('community.index.communities.filter.select') }}</option>
											<option value="{{ route('console.all', [ console.id ]) }}">{{ __('community.index.communities.filter.options.all') }}</option>
											<option value="{{ route('console.games', [ console.id ]) }}">{{ __('community.index.communities.filter.options.games', { console: console.name }) }}</option>
											<option value="{{ route('console.vc', [ console.id ]) }}">{{ __('community.index.communities.filter.options.vc') }}</option>
											<option value="{{ route('console.other', [ console.id ]) }}">{{ __('community.index.communities.filter.options.other') }}</option>
										</select>
									</label>
								</div>
							</div>
							{% endif %}
						</div>
						{% if category.titles is not empty %}
						<ul class="list-content-with-icon-and-text arrow-list" id="community-top-content">
							{% for title in category.titles %}
							{% set id,title_id = hashid(title.id), hashid(title.title_id) %}
							<li id="community-{{ id }}" class="">
								<span class="icon-container">
									<img src="{{ title.icon }}" class="icon" width="48" height="48">
								</span>
								<a href="{{ route('title.community', [ title_id, id ]) }}" class="arrow-button scroll" data-pjax="1"></a>
								<div class="body">
									<span class="community-name title">{{ title.name }}</span>
									{% if title.plarform_tag is not empty %}
									<span class="platform-tag platform-tag-{{ title.plarform_tag }}"></span>
									{% endif %}
									{% if title.platform_text is not empty %}
									<span class="text">{{ title.platform_text }}</span>
									{% endif %}
								</div>
							</li>
							{% endfor %}
						</ul>
						{% if category.has_more %}
						<a href="{{ route('console.all', [ category.more_slug ]) }}" class="more-button scroll" data-pjax="1">{{ __('community.index.communities.more') }}</a>
						{% endif %}
						{% else %}
						<div class="no-content-window">
							<div class="window">
								<p>{{ __('community.index.communities.empty') }}</p>
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="community-list-footer">
				<div class="select-button">
					<span class="select-button-content">{{ __('community.index.footer.console', { console: console.name }) }}</span>
					{% include '_footer.twig' %}
				</div>
			</div>
{% endblock %}
