{% if get._pjax is not defined %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
{% endif %}
    <title>Activity Feed</title>
{% if get._pjax is not defined %}
    <link rel="stylesheet" type="text/css" href="/css/portal/style.css">
    <script src="/js/portal/wiiu-emulation.js"></script>
    <script src="/js/portal/complete-en.js"></script>
</head>
<body
    data-is-first-friend="1"
    {% if not user.favorited %}data-is-first-favorite="1"{% endif %}
    data-user-id="{{ user.username }}"
    data-profile-url="/users/{{ user.username }}">
    {% if hide_menu is not defined %}
    <menu id="global-menu">
        <li id="global-menu-mymenu"><a href="{{ route('user.profile', [ user.username ]) }}" data-pjax="#body" data-sound="SE_WAVE_MENU"><span class="mii-icon"><img src="{{ user.mii.normal }}" alt="User Page"></span><span>User Page</span></a></li>
        <li id="global-menu-feed"><a href="{{ route('index.index') }}" data-pjax="#body" data-sound="SE_WAVE_MENU">Activity Feed</a></li>
        <li id="global-menu-community"><a href="{{ route('community.index') }}" data-pjax="#body" data-sound="SE_WAVE_MENU">Communities</a></li>
        <li id="global-menu-message"><a href="/friend_messages" data-pjax="#body" data-sound="SE_WAVE_MENU">Messages</a></li>
        <li id="global-menu-news"><a href="/news/my_news" data-pjax="#body" data-sound="SE_WAVE_MENU">Notifications</a></li>
        <li id="global-menu-exit"><a href="#" role="button" data-sound="SE_WAVE_EXIT">Close</a></li>
        <li id="global-menu-back" class="none"><a href="#" role="button" class="accesskey-B" data-sound="SE_WAVE_BACK">Back</a></li>
    </menu>
    {% endif %}
    <div id="body">
{% endif %}
{% block content %}
    <p>No content defined.</p>
{% endblock %}
{% if get._pjax is not defined %}
</body>
</html>
{% endif %}
