{% set class = 'post-permalink' %}
{% extends '@3ds/_master.twig' %}

{% block content %}
{% set id,title_id,post_id = hashid(post.community.id), hashid(post.community.titleID), hashid(post.id) %}
{% set mii = _context.post.user.mii[_context.feeling[post.feeling]] %}
			<div id="header">
				<div id="header-body">
					<h1 id="page-title"><span>{{ post.user.displayName }}'s post</span></h1>
				</div>
			</div>
			<div id="post-permalink-content">
				<div id="header-meta">
					<p class="community-container">
						<a href="{{ route('title.community', [ title_id, id ]) }}" class="community" data-pjax="1">
							<span class="community-container-inner">
								<img src="{{ post.community.icon }}" class="community-icon" width="14" height="14">{{ post.community.name }}
							</span>
						</a>
					</p>
				</div>
				<div id="post-permalink-body" class="post scroll post-subtype-default {% if post.verified %}official-user{% endif %}">
					<a href="{{ route('user.profile', [ post.user.username ]) }}" data-pjax="1" class="user-icon-container scroll-focus {% if post.verified %}official-user{% endif %}">
						<img src="{{ mii }}" class="user-icon" width="32" height="32">
					</a>
					<header>
						<div class="header-inner">
							{% if post.user.organization is defined %}
								<p class="user-organization">{{ post.user.organization }}</p>
							{% endif %}
							<p class="user-name"><a href="{{ route('user.profile', [ post.user.username ]) }}" data-pjax="1">{{ post.user.displayName }}</a></p>
							<p class="timestamp-container">
								<a class="timestamp">{{ post.created }}</a>
								{% if post.spoiler %}
									·
									<span class="spoiler">Spoilers</span>
								{% endif %}
							</p>
						</div>
					</header>
					<div class="post-content{% if post.image %}-memo{% endif %}">
						{% if post.content != '' %}
							<p class="post-content-text">{{ post.content }}</p>
						{% endif %}
						{% if post.image %}
							<p class="post-content-memo"><img src="/img/drawings/{{ post.image }}"></p>
						{% endif %}
					</div>
					<div class="post-meta">
						{% if post.user.id != user.id %}
							<div class="report-buttons-content">
								<a href="{{ route('post.violation', [ post_id ]) }}" role="button" class="report-button" data-pjax="1">Report Violation</a>
							</div>
						{% endif %}
						<div class="expression">
							<button type="button" {% if post.user.id == user.id %}disabled {% endif %}class="symbol submit empathy-button{% if post.user.id == user.id %} disabled{% endif %}{% if post.liked %} empathy-added{% endif %}" data-feeling="{{ _context.feeling[post.feeling] }}" data-action="{{ route('post.empathies', [ post_id ]) }}" data-other-empathy-count="{{ post.likerCount }}"><span class="empathy-button-text">{% if post.liked %}Unyeah{% else %}{{ _context.feelingText[post.feeling] }}{% endif %}</span></button>
						</div>
					</div>
				</div>
				<div id="empathy-content" class="post-permalink-feeling" {% if not post.liked or post.likerCount == 0 %}style="display: none"{% endif %}>
					{# Insane logic here. It's 4AM so I'll have to make this right later #}
					{% if post.liked %}
						{% if post.likerCount == 0 %}
							<p class="post-permalink-feeling-text">You gave this a Yeah.</p>
						{% else %}
							{% if post.likerCount == 1 %}
								<p class="post-permalink-feeling-text">You and {{ post.likerCount }} other person gave this a Yeah.</p>
							{% else %}
								<p class="post-permalink-feeling-text">You and {{ post.likerCount }} other people gave this a Yeah.</p>
							{% endif %}
						{% endif %}
					{% else %}
						{% if post.likerCount == 1 %}
							<p class="post-permalink-feeling-text">{{ post.likerCount }} person gave this a Yeah.</p>
						{% else %}
							<p class="post-permalink-feeling-text">{{ post.likerCount }} people gave this a Yeah.</p>
						{% endif %}
					{% endif %}
					<div class="post-permalink-feeling-icon-container">
						<a href="{{ route('user.profile', [ user.username ]) }}" data-pjax="1" class="post-permalink-feeling-icon visitor" {% if not post.liked %}style="display: none"{% endif %}>
							<img src="{{ _context.user.mii[_context.feeling[post.feeling]] }}" class="user-icon" width="32" height="32">
						</a>
						{% for liker in post.likers %}
							<a href="{{ route('user.profile', [ liker.data.username ]) }}" data-pjax="1" class="post-permalink-feeling-icon {% if liker.verified %}official-user{% endif %}">
								<img src="{{ _context.liker.data.mii[_context.feeling[post.feeling]] }}" class="user-icon" width="32" height="32">
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="body-content">
				<div id="post-permalink-comments">
					<ul class="post-permalink-reply list reply-list" data-parent-post-id="{{ post_id }}">
						{% for comment in comments %}
							{% set profile,comment_id = route('user.profile', [ comment.user.username ]), hashid(comment.id) %}
							{% set mii = _context.comment.user.mii[_context.feeling[comment.feeling]] %}
							<li id="reply-{{ comment_id }}" class="test-reply scroll {% if comment.user.id == post.user.id %}my{% else %}other{% endif %} {% if comment.spoiler and comment.user.id != user.id %}hidden{% endif %} {% if comment.verified %}official-user{% endif %}" {% if comment.spoiler and comment.user.id != user.id %}data-href-hidden="#"{% endif %}>
								<a href="{{ profile }}" data-pjax="1" class="user-icon-container scroll-focus {% if comment.verified %}official-user{% endif %}">
									<img src="{{ mii }}" class="user-icon" width="32" height="32">
								</a>
								<div class="reply-body">
									<header>
										<div class="header-inner">
											<p class="user-name"><a href="{{ profile }}" data-pjax="1">{{ comment.user.displayName }}</a></p>
											<p class="timestamp-container">
												{{ comment.created }}
												{% if comment.spoiler %}
													·
													<span class="spoiler">Spoilers</span>
												{% endif %}
											</p>
										</div>
									</header>
									{% if comment.content != '' %}
										<p class="reply-content-text">{{ comment.content }}</p>
									{% endif %}
									{% if comment.image %}
										<p class="reply-content-memo"><img src="/img/drawings/{{ comment.image }}"></p>
									{% endif %}
									{% if comment.spoiler and comment.user.id != user.id %}
										<div class="hidden-content"><p>This comment contains spoilers.</p>
											<button type="button" class="hidden-content-button">View comment</button>
										</div>
									{% endif %}
									<div class="reply-meta">
										<button type="button" {% if comment.user.id == user.id %}disabled {% endif %}class="symbol submit empathy-button reply{% if comment.user.id == user.id %} disabled{% endif %}{% if comment.liked %} empathy-added{% endif %}" data-feeling="{{ _context.feeling[comment.feeling] }}" data-action="{{ route('comment.empathies', [ comment_id ]) }}">
											<span class="empathy-button-text">{% if comment.liked %}Unyeah{% else %}{{ _context.feelingText[comment.feeling] }}{% endif %}</span>
										</button>
										<span class="empathy symbol">
											<span class="symbol-label">Yeahs</span>
											<span class="empathy-count">{{ comment.empathies }}</span>
										</span>
										{% if comment.user.id != user.id %}
											<div class="report-buttons-content">
												<a href="{#{ route('comment.report', [ comment_id ]) }#}" role="button" class="button report-button" data-pjax="1">Report Violation</a>
											</div>
										{% endif %}
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div>
					<a href="{{ route('post.reply', [ post_id ]) }}" class="post-button reply-button test-reply-button" data-pjax="1"><span class="symbol">Comment</span></a>
				</div>
			</div>
{% endblock %}
