{% set class = 'user-page' %}
{% extends '@3ds/_master.twig' %}
{% from '@3ds/_macros.twig' import standard_post %}

{% block content %}
            <div id="user-content-container">
                <div id="user-content" class="user-page">
                    <div id="header">
                        <div id="header-body">
                            <h1 id="page-title"><span>{{ __('user.profile.header.name', { name: profile.displayName }) }}</span></h1>
                        </div>
                    </div>
                    <div class="icon-name-container">
                        <div class="user-icon-container">
                            <img src="{{ profile.mii.normal }}" class="user-icon" width="32" height="32">
                        </div>
                        <p class="title">
                            <span class="nick-name">{{ profile.displayName }}</span>
                            <span class="id-name">{{ profile.username }}</span>
                        </p>
                    </div>
                </div>
                <div id="header-meta">
                    <a href="{{ route('user.profile', [ profile.username ]) }}" class="profile-page-button" data-pjax="1">
                        {{ __('user.profile.meta.back') }}
                    </a>
                </div>
            </div>
            <div id="nav-menu" class="nav-3">
                <a href="{{ route('user.posts', [ profile.username ]) }}" data-pjax="1" class="user-posts-count selected">
                    <span class="number">{{ profile.posts }}</span>
                    <span class="name">{{ __('user.profile.nav.posts') }}</span>
                </a>
                <a href="{{ route('user.following', [ profile.username ]) }}" data-pjax="1" class="user-followings-count ">
                    <span class="number">{{ profile.follows }}</span>
                    <span class="name">{{ __('user.profile.nav.following') }}</span>
                </a>
                <a href="{{ route('user.followers', [ profile.username ]) }}" data-pjax="1" class="user-followers-count ">
                    <span class="number">{{ profile.followers }}</span>
                    <span class="name">{{ __('user.profile.nav.followers') }}</span>
                </a>
            </div>
            <div class="tab2 user-menu-activity">
                <a href="{{ route('user.posts', [ profile.username ]) }}" id="tab-header-user-posts" class="symbol selected" data-pjax="1" data-pjax-replace="1"><span class=" symbol-label">{{ __('user.profile.nav.posts') }}</span><span class="number">{{ profile.posts }}</span></a>
                <a href="{{ route('user.empathies', [ profile.username ]) }}" id="tab-header-user-empathies" class="symbol" data-pjax="1" data-pjax-replace="1"><span class=" symbol-label">{{ __('user.profile.nav.empathies') }}</span><span class="number">0</span></a>
            </div>
            <div class="body-content">
                <div class="list post-list" data-next-page-url="">
                    {% for post in posts %}
                        {{ standard_post(post) }}
                    {% else %}
                        <div id="user-page-no-content" class="no-content">
                            <div>
                                <p>{{ __('user.profile.error.noposts') }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
{% endblock %}
