{% set class = 'community-top guest' %}
{% extends '@offdevice/_master.twig' %}

{% block content %}
{% set id,title_id = hashid(meta.id), hashid(meta.title_id) %}
            <div id="sidebar">
                <section class="sidebar-container" id="sidebar-community">
                    <span id="sidebar-cover">
                        <a href="{{ route('title.view', [ title_id, id ]) }}">
                            <img src="/img/banners/{{ meta.banner }}">
                        </a>
                    </span>
                    <header id="sidebar-community-body">
                        <span id="sidebar-community-img">
                            <span class="icon-container">
                                <a href="{{ route('title.view', [ title_id, id ]) }}">
                                    <img src="/img/icons/{{ meta.icon }}" class="icon">
                                </a>
                            </span>
                        </span>
                        <h1 class="community-name">
                            <a href="{{ route('title.view', [ title_id, id ]) }}">{{ meta.name }}</a>
                        </h1>
                    </header>
					{% if meta.description is not empty %}
						<div class="community-description js-community-description">
							<p class="text js-truncated-text">{{ meta.description }}</p>
						</div>
					{% endif %}
                    <div class="sidebar-setting">
                        <div class="sidebar-post-menu"></div>
                    </div>
                </section>
            </div>
			<div class="main-column">
				<div class="post-list-outline">
					<div class="body-content" id="community-post-list">
						<div class="list post-list js-post-list">
							{% for post in posts %}
								{% set mii = _context.post.user.mii[_context.feeling[post.feeling]] %}
								<div id="post-{{ post.id }}" data-href="{{ route('post.show', [ id ]) }}" class="post post-subtype-default trigger with-image" tabindex="0">
									<a href="{{ route('user.profile', [ post.user.username ]) }}" class="icon-container{% if post.verified %} official-user{% endif %}"><img src="{{ mii }}" class="icon"></a>
									<p class="user-name"><a href="{{ route('user.profile', [ post.user.username ]) }}">{{ post.user.displayName }}</a></p>
									<p class="timestamp-container">
										<a class="timestamp" href="{{ route('post.show', [ post.id ]) }}">{{ post.created }}</a>
									</p>
									<div class="body">
										<div class="post-content">
											<div class="tag-container">
											</div>
											{% if post.image %}
												<p class="post-content-memo">
													<img src="/img/drawings/{{ post.image }}" class="post-memo">
												</p>
											{% endif %}
											{% if post.content != '' %}
												<p class="post-content-text">{{ post.content }}</p>
											{% endif %}
											<div class="post-meta">
												<div class="empathy symbol"><span class="symbol-label">Yeahs</span><span class="empathy-count">{{ post.likes }}</span></div>
												<div class="reply symbol"><span class="symbol-label">Comment</span><span class="reply-count">{{ post.comments }}</span></div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
{% endblock %}
