{% set class = 'add-post-page' %}
{% extends '@ctr/_master.twig' %}

{% block content %}
{% set id,title_id = hashid(meta.id), hashid(meta.title_id) %}
			<div class="title-header with-header-banner">
				<div class="header-banner-container post-subtype-default-container">
					<div class="post-form-header">
						<span class="post-subtype-default">Post</span>
					</div>
				</div>
				<h1 class="info-content">
					<span class="icon-container">
						<img src="/img/icons/{{ meta.icon }}" class="icon" width="48" height="48">
					</span>
					<span class="title-container">
						<span class="title">{{ meta.name }}</span>
					</span>
				</h1>
				{% if meta.platform == 1 %}
					<span class="platform-tag platform-tag-3ds"></span>
				{% elseif meta.platform == 2 %}
					<span class="platform-tag platform-tag-wiiu"></span>
				{% elseif meta.platform == 3 %}
					<span class="platform-tag platform-tag-wiiu-3ds"></span>
				{% elseif meta.platform == 4 %}
					<span class="platform-tag platform-tag-switch"></span>
				{% elseif meta.platform == 5 %}
					<span class="platform-tag platform-tag-switch-wiiu"></span>
				{% elseif meta.platform == 6 %}
					<span class="platform-tag platform-tag-wii"></span>
				{% elseif meta.platform == 7 %}
					<span class="platform-tag platform-tag-ds"></span>
				{% elseif meta.platform == 8 %}
					<span class="platform-tag platform-tag-wii-ds"></span>
				{% endif %}
			</div>
			<div class="body-content" id="offline-mode">
				<div id="list-content" class="post-list main-content">
					<div class="tab-body">
						<div class="post-list list">
							<div id="post-0" class="post none scroll">
								<form method="post" action="{{ route('post.submit') }}" data-redirect-to="{{ route('title.community', [ title_id, id ]) }}" enctype="multipart/form-data">
									<input type="hidden" name="memo_title_id" value="">
									<input type="hidden" name="is_memo" value="1">
									<input type="hidden" name="memo_region_id" value="2">
									<input type="hidden" name="olive_title_id" value="">
									<input type="hidden" name="olive_community_id" value="">
									<input type="hidden" name="is_spoiler" value="">
									<input type="hidden" name="feeling_id" value="">
									<input type="hidden" name="body" value="">
									<input type="hidden" name="painting" value="">
									<input class="image-input-file" type="file" name="screenshot" disabled>
									<input type="hidden" name="ls_key" value="">
									<input type="hidden" name="has_title_depended_value" disabled value="">
									<input type="hidden" name="is_app_jumpable" disabled value="">
									<input type="hidden" name="app_data" disabled value="">
									<input type="hidden" name="url" disabled value="">
									<input type="hidden" name="topic_tag" disabled value="">
									<input class="image-input-file" type="file" name="thumbnail" disabled>
									<p class="community-container none">
										<a href="" data-pjax="1">
											<span class="community-container-inner">
												<img src="" class="community-icon" width="14" height="14">
											</span>
										</a>
									</p>
									<div class="body">
										<div class="user-icon-container">
											<img class="user-icon">
										</div>
										<div class="post-container">
											<div class="user-container">
												<p class="user-name"></p>
												<p class="timestamp-container">
													<span class="timestamp"></span>
													<span class="spoiler">・Spoilers</span>
												</p>
											</div>
											<div class="post-content">
												<a class="post-tag symbol none"></a>
												<p class="screenshot-container">
													<a href="#" class="viewer-button">
														<img src="" height="42">
													</a>
												</p>
												<p class="post-content-text"></p>
												<p class="post-content-memo"><img src="" class="post-memo"></p>
												<div class="post-meta">
													<div class="buttons-content">
														<p class="forbidden-message none">You cannot post this here.</p>
														<div class="post-buttons-content">
															<button type="submit" class="post-button submit scroll-focus symbol">Post</button>
														</div>
														<div class="delete-buttons-content">
															<button type="button" class="submit delete-button symbol">Delete</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div id="post-1" class="post none scroll">
								<form method="post" action="{{ route('post.submit') }}" data-redirect-to="{{ route('title.community', [ title_id, id ]) }}" data-title-ids="0005000010101d00,0005000010142300,000500001014b700" enctype="multipart/form-data">
									<input type="hidden" name="memo_title_id" value="">
									<input type="hidden" name="is_memo" value="1">
									<input type="hidden" name="memo_region_id" value="2">
									<input type="hidden" name="olive_title_id" value="">
									<input type="hidden" name="olive_community_id" value="">
									<input type="hidden" name="is_spoiler" value="">
									<input type="hidden" name="feeling_id" value="">
									<input type="hidden" name="body" value="">
									<input type="hidden" name="painting" value="">
									<input class="image-input-file" type="file" name="screenshot" disabled>
									<input type="hidden" name="ls_key" value="">
									<input type="hidden" name="has_title_depended_value" disabled value="">
									<input type="hidden" name="is_app_jumpable" disabled value="">
									<input type="hidden" name="app_data" disabled value="">
									<input type="hidden" name="url" disabled value="">
									<input type="hidden" name="topic_tag" disabled value="">
									<input class="image-input-file" type="file" name="thumbnail" disabled>
									<p class="community-container none">
										<a href="" data-pjax="1">
											<span class="community-container-inner">
												<img src="" class="community-icon" width="14" height="14">
											</span>
										</a>
									</p>
									<div class="body">
										<div class="user-icon-container">
											<img class="user-icon">
										</div>
										<div class="post-container">
											<div class="user-container">
												<p class="user-name"></p>
												<p class="timestamp-container">
													<span class="timestamp"></span>
													<span class="spoiler">・Spoilers</span>
												</p>
											</div>
											<div class="post-content">
												<a class="post-tag symbol none"></a>
												<p class="screenshot-container">
													<a href="#" class="viewer-button">
														<img src="" height="42">
													</a>
												</p>
												<p class="post-content-text"></p>
												<p class="post-content-memo">
													<img src="" class="post-memo">
												</p>
												<div class="post-meta">
													<div class="buttons-content">
														<p class="forbidden-message none">You cannot post this here.</p>
														<div class="post-buttons-content">
															<button type="submit" class="post-button submit scroll-focus symbol">Post</button>
														</div>
														<div class="delete-buttons-content">
															<button type="button" class="submit delete-button symbol">Delete</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div id="post-2" class="post none scroll">
								<form method="post" action="{{ route('post.submit') }}" data-redirect-to="{{ route('title.community', [ title_id, id ]) }}" data-title-ids="0005000010101d00,0005000010142300,000500001014b700" enctype="multipart/form-data">
									<input type="hidden" name="memo_title_id" value="">
									<input type="hidden" name="is_memo" value="1">
									<input type="hidden" name="memo_region_id" value="2">
									<input type="hidden" name="olive_title_id" value="">
									<input type="hidden" name="olive_community_id" value="">
									<input type="hidden" name="is_spoiler" value="">
									<input type="hidden" name="feeling_id" value="">
									<input type="hidden" name="body" value="">
									<input type="hidden" name="painting" value="">
									<input class="image-input-file" type="file" name="screenshot" disabled>
									<input type="hidden" name="ls_key" value="">
									<input type="hidden" name="has_title_depended_value" disabled value="">
									<input type="hidden" name="is_app_jumpable" disabled value="">
									<input type="hidden" name="app_data" disabled value="">
									<input type="hidden" name="url" disabled value="">
									<input type="hidden" name="topic_tag" disabled value="">
									<input class="image-input-file" type="file" name="thumbnail" disabled>
									<p class="community-container none">
										<a href="" data-pjax="1">
											<span class="community-container-inner">
												<img src="" class="community-icon" width="14" height="14">
											</span>
										</a>
									</p>
									<div class="body">
										<div class="user-icon-container">
											<img class="user-icon">
										</div>
										<div class="post-container">
											<div class="user-container">
												<p class="user-name"></p>
												<p class="timestamp-container"><span class="timestamp"></span><span class="spoiler">・Spoilers</span></p>
											</div>
											<div class="post-content">
												<a class="post-tag symbol none"></a>
												<p class="screenshot-container">
													<a href="#" class="viewer-button">
														<img src="" height="42">
													</a>
												</p>
												<p class="post-content-text"></p>
												<p class="post-content-memo">
													<img src="" class="post-memo">
												</p>
												<div class="post-meta">
													<div class="buttons-content">
														<p class="forbidden-message none">You cannot post this here.</p>
														<div class="post-buttons-content">
															<button type="submit" class="post-button submit scroll-focus symbol">Post</button>
														</div>
														<div class="delete-buttons-content">
															<button type="button" class="submit delete-button symbol">Delete</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div>
						<div class="no-content-window">
							<div class="window">
								<p>No posts</p>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}