{% set class = 'news-page' %}
{% extends '@ctr/_master.twig' %}

{% block content %}
			<div class="title-header text-header">
				<div class="header-banner-container">
					<div class="header-banner">
						<p>Here you can see if you've gotten a response or reaction from other users.</p>
					</div>
				</div>
				<h1 class="info-content">
					<span class="icon-container"></span>
					<span class="title-container">
					<span class="title">Notifications</span>
					</span>
				</h1>
			</div>
			<div class="body-content">
				<div class="tab-body">
					{% if local_user.news_dot == 0 %}
						<div id="news-tutorial" class="tutorial-window">
							<p>New notifications are marked with an orange dot.</p>
							<a href="#" class="button tutorial-close-button" data-tutorial-name="my_news">Close</a>
						</div>
					{% endif %}
					{% if notifications is null %}
						<div class="no-content-window">
							<div class="window">
								<p>No updates.</p>
							</div>
						</div>
					{% else %}
						<ul class="list-content-with-icon-and-text arrow-list" id="news-list-content">
							{% for notification in notifications %}
								{% if notification.type == 1 %}
									<li>
										<a href="{{ route('user.profile', [ notification.user.username ]) }}" data-pjax="#body" class="icon-container">
											<img src="{{ notification.user.mii.normal }}" class="icon">
										</a>
										<a href="{{ route('user.profile', [ notification.user.username ]) }}" data-pjax="#body" class="arrow-button scroll"></a>
										<div class="body">
											<p class="text">
												Followed by <span class="nick-name">{{ notification.user.displayName }}</span>. <span class="timestamp">{{ notification.date }}</span>
											</p>
										</div>
									</li>
								{% endif %}
								{% if notification.type == 4 %}
									<li>
										<a href="{{ route('user.profile', [ notification.user.username ]) }}" data-pjax="#body" class="icon-container">
											<img src="{{ notification.user.mii.normal }}" class="icon">
										</a>
										<a href="{{ route('user.profile', [ notification.user.username ]) }}" data-pjax="#body" class="arrow-button scroll"></a>
										<div class="body">
											<p class="text">
												<span class="nick-name">{{ notification.user.displayName }}</span> commented on <span class="link">your post</span>. <span class="timestamp">{{ notification.date }}</span>
											</p>
										</div>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
{% endblock %}